<div id='authors'>
	<p>Your Collection</p>
	<p><%= @collection.name %></p>
	
	<%= render @collection.authors %>
			
	<p>Add an Author:</p>
	<ul>
		<li><%= render 'authors/form' %></li>
		<li><%= link_to 'Edit', edit_collection_path(@collection) %></li>
		<li><%= link_to 'Delete', @collection, method: :delete %></li>
	</ul>		
</div>