<p>
	Author Name: <%= author.name %> 
</p>
<p>
  <%= link_to 'Destroy Author', [author.collection, author],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>

<h4>Next Book you should Read:</h4>
<%= Author.find_book(author).title %>


<table>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Status</th>
    <th></th>
  </tr>	
	<% author.books.each do |book| %>
		<tr>
      <td><%= book.title %></td>
			<td><%= book.date %></td>
			<td><%= book.status %></td>
			<td><%= link_to 'Edit Status', edit_collection_author_book_path(@collection, author, book) %></td>
		  </tr>
  <% end %>
</table>





