<!DOCTYPE html>
<html>
<head>
  <title>NextBooks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h2>NextBooks</h2>
		<h4>The app that tells you the Next Books you should read</h4>
	</header>
	<section>
		<article id='top_menu'>
			<div id='notice'>
				<p class="notice"><%= notice %></p>
		  	<p class="alert"><%= alert %></p>
		  </div>
			<nav id='sign'>
				<ul>
					<% if user_signed_in? %>
						<li><%= link_to('Sign out', destroy_user_session_path, method: :delete) %></li>
					<% else %>
						<li><%= link_to("Sign in", new_user_session_path) %></li>
						<li><%= link_to('Sign up', new_user_registration_path) %></li>
					<% end %>
				</ul>
			</nav>
		</article>
		<div id='wrapper'>
			<div id='collections'>
				<ul>
					<li><%= link_to 'Collections', collections_path  %></li>
					<li><%= link_to 'Create a Collection', new_collection_path %></li>
				</ul>
			</div>
	

		 
		 </div> 

		 <%= yield %>
				
	</section>
	<footer>Brought to you by a Web Developer who reads
	</footer>
</body>
</html>
