<!DOCTYPE html>
<html>
<head>
  <title>NextBooks</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h2>NextBooks</h2>The app that tells you the Next Books you should read
	</header>
	<section>
		<div id='top_menu'>
			<div id='notice'>
				<p class="notice"><%= notice %></p>
		  	<p class="alert"><%= alert %></p>
		  </div>
			<nav id='sign'>
				<ul>
					<li><%= link_to "Sign in", new_user_session_path %></li>  
					<li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
				</ul>
			</nav>
		</div>
		<div id='wrapper'>
			<div class='collections'>
				<ul>
					<li><%= link_to 'Current Collections', collections_path  %></li>
					<li><%= link_to 'Create a Collection', new_collection_path %></li>
				</ul>
			</div>
	
			<%= yield %>
		 
		 </div> 
		
		

			


		
		<footer>Brought to you by a web developer who reads!
		</footer>
	</section>
</body>
</html>
